@charset "UTF-8";
/* 
Version: 1.0
Description: Trabajo de Frontend design para cliente PNUD en website de participación ciudadana para Jóvenes de Panamá
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

i[class*=twitter] {
  color: #00acee;
}

i[class*=facebook] {
  color: #3b5998;
}

i[class*=youtube] {
  color: #c4302b;
}

i[class*=instagram] {
  color: #8a3ab9;
}

h2 {
  font-size: 3rem;
}

/* ----- HEADER ----- */
header {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    float: left;
  }
}
@media screen and (min-width: 768px) {
  header {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}
header .agora-navbar {
  height: 60px;
}
header .agora-navbar .menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-align: center;
  float: right;
}
header .agora-navbar .menu-mobile i {
  font-size: 3.2rem;
}
header .agora-navbar .menu-mobile .btn-primary {
  width: 50px;
  height: 50px;
  background-color: white;
  color: #000;
  border: solid 1px #ededed;
}
@media screen and (min-width: 768px) {
  header .agora-navbar .menu-mobile {
    display: none;
  }
}
header .agora-navbar .default-navbar {
  display: none;
}
@media screen and (min-width: 768px) {
  header .agora-navbar .default-navbar {
    display: block;
  }
  header .agora-navbar .default-navbar-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 20px;
    text-transform: uppercase;
  }
  header .agora-navbar .default-navbar-menu__list a {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0em;
    text-decoration: none;
  }
  header .agora-navbar .default-navbar-menu__list .sign-in__btn {
    background-color: #b60062;
    border: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 8px 10px;
  }
  header .agora-navbar .default-navbar-menu__list .sign-in__btn .text {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  header .agora-navbar .default-navbar-menu__list .sign-in__btn i {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0rem;
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  header .agora-navbar {
    height: unset;
  }
}

/* ----- FOOTER ----- */
.footer {
  background-color: #f4f4f4;
  width: 100%;
  padding: 50px 25px;
}
.footer-branding__logo {
  display: block;
  width: 226px;
  margin: 0 auto;
}
.footer-branding__logo img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 992px) {
  .footer-branding__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: unset;
  }
}
.footer-branding__tagline {
  font-size: 1.8rem;
  font-weight: 400;
  color: #6d6c6c;
  line-height: 24.5px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .footer-branding__tagline {
    text-align: left;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 0em;
  }
}
.footer-socialnetworks {
  font-size: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.footer-socialnetworks-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer-socialnetworks a {
  padding-right: 22px;
}
.footer-socialnetworks a:last-child {
  padding-right: 0;
}
@media screen and (min-width: 992px) {
  .footer-socialnetworks {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 2.4rem;
    margin-bottom: unset;
  }
  .footer-socialnetworks a {
    padding-right: 14px;
  }
}
.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: solid 2px #b60062;
}
.footer-menu a {
  text-align: center;
  padding-top: 14px;
  color: #6d6c6c;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8rem;
}
@media screen and (min-width: 992px) {
  .footer-menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 80%;
  }
  .footer-menu a {
    text-align: left;
    padding-top: 4px;
    font-size: 1.4rem;
  }
}
.footer-latest {
  font-size: 1.4rem;
}
.footer-latest h3 {
  width: 50%;
  border-top: solid 2px #b60062;
  padding-top: 4px;
  color: #6d6c6c;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.footer-latest .item__text {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0em;
  color: #000;
  margin-bottom: 0.8rem;
  display: block;
}
.footer-latest .item__axis {
  color: #b60062;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 50px 10px;
  }
}

.copyright {
  padding: 34px 25px 70px;
  position: relative;
}
.copyright a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.copyright .back-to-header {
  display: none;
}
@media screen and (min-width: 992px) {
  .copyright {
    padding: 25px;
  }
  .copyright .back-to-header {
    text-decoration: none;
    color: #000;
    display: block;
    position: absolute;
    top: -30px;
    right: 5%;
  }
  .copyright .back-to-header i {
    background-color: #ffd400;
    padding: 16px 18px;
    color: #000;
    border-radius: 8px;
    font-size: 2rem;
  }
  .copyright p {
    margin-bottom: 0;
  }
  .copyright__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
}

#responsiveModalMenu .cs-modal-menu {
  background-color: #5a6bb6;
  color: white;
}
#responsiveModalMenu .cs-modal-menu .modal-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
#responsiveModalMenu .cs-modal-menu__close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  float: right;
  color: inherit;
}
#responsiveModalMenu .cs-modal-menu__close-btn i {
  font-size: 2.4rem;
  border: solid 1px white;
  padding: 6px 8px;
  border-radius: 8px;
}
#responsiveModalMenu .cs-modal-menu__close-btn .close-btn__text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}
#responsiveModalMenu .cs-modal-menu-login-box::before {
  content: " ";
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  width: 95%;
  margin: 10px 0;
  margin-left: 2.5%;
}
#responsiveModalMenu .cs-modal-menu-login-box__loginBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b60062;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 0;
}
#responsiveModalMenu .cs-modal-menu-login-box__loginBtn:visited {
  color: white;
}
#responsiveModalMenu .cs-modal-menu-login-box__loginBtn .loginText {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}
#responsiveModalMenu .cs-modal-menu-login-box__loginBtn i {
  font-size: 1.6rem;
}
#responsiveModalMenu .cs-modal-menu-login-box .noCredentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#responsiveModalMenu .cs-modal-menu-login-box .noCredentials .noAccount,
#responsiveModalMenu .cs-modal-menu-login-box .noCredentials .register-here {
  color: white;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0em;
}
#responsiveModalMenu .cs-modal-menu-login-box .noCredentials .register-here {
  color: #ffd400;
}
#responsiveModalMenu .cs-modal-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  text-align: center;
  margin: 20px 0;
}
#responsiveModalMenu .cs-modal-menu__list a {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0em;
  padding: 10px 0;
}
#responsiveModalMenu .cs-modal-menu__list a::after {
  content: " ";
  border-bottom: solid 1px white;
  width: 95%;
  margin-top: 20px;
  margin-left: 2.5%;
  float: left;
}
#responsiveModalMenu .cs-modal-menu__list a:last-child::after {
  content: unset;
  border: unset;
  float: unset;
}
#responsiveModalMenu .cs-modal-menu__ssnn {
  margin-top: 10px;
  color: white;
  text-align: center;
}
#responsiveModalMenu .cs-modal-menu__ssnn .text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0em;
}
#responsiveModalMenu .cs-modal-menu__ssnn .ssnn-list {
  font-size: 3.6rem;
  margin-top: 10px;
}
#responsiveModalMenu .cs-modal-menu__ssnn .ssnn-list a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}
#responsiveModalMenu .cs-modal-menu__ssnn .ssnn-list a i {
  color: inherit;
}
#responsiveModalMenu .cs-modal-menu__ssnn .ssnn-list a:last-child {
  margin-right: unset;
}

.log-in-modal .modal-dialog {
  max-width: 600px;
}
.log-in-modal__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5a6bb6;
  padding: 40px 20px;
  gap: 10px;
}
.log-in-modal__sidebar img {
  width: 100%;
}
.log-in-modal__sidebar span {
  display: block;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: -0.02em;
  text-align: center;
}
.log-in-modal__form {
  padding: 10px 20px;
}
.log-in-modal__form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}
.log-in-modal__form-header img {
  height: 50px;
}
.log-in-modal__form-header h3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: -0.02em;
  width: 100%;
  text-align: center;
  color: #6d6c6c;
}
.log-in-modal__form-header .headmsg {
  color: #6d6c6c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: center;
}
.log-in-modal__form-content .form-input {
  border: solid 1px rgba(109, 108, 108, 0.1);
  background-color: rgba(109, 108, 108, 0.05);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
  position: relative;
  margin: 10px 0;
}
.log-in-modal__form-content .form-input.active {
  border-color: #5a6bb6;
  background-color: white;
  padding: 4px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.log-in-modal__form-content .form-input.active i {
  color: #5a6bb6;
}
.log-in-modal__form-content .form-input.active:last-child {
  margin-top: 16px;
}
.log-in-modal__form-content .form-input .bDate {
  width: 94%;
}
.log-in-modal__form-content .form-input .bDate input:active {
  outline: none;
}
.log-in-modal__form-content .form-input .bDate input,
.log-in-modal__form-content .form-input input {
  border: unset;
  background-color: unset;
  padding: 4px 0;
  width: 94%;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
.log-in-modal__form-content .form-input .bDate input::-webkit-input-placeholder, .log-in-modal__form-content .form-input input::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  color: rgba(109, 108, 108, 0.5);
}
.log-in-modal__form-content .form-input .bDate input::-moz-placeholder, .log-in-modal__form-content .form-input input::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  color: rgba(109, 108, 108, 0.5);
}
.log-in-modal__form-content .form-input .bDate input:-ms-input-placeholder, .log-in-modal__form-content .form-input input:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  color: rgba(109, 108, 108, 0.5);
}
.log-in-modal__form-content .form-input .bDate input::-ms-input-placeholder, .log-in-modal__form-content .form-input input::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  color: rgba(109, 108, 108, 0.5);
}
.log-in-modal__form-content .form-input .bDate input::placeholder,
.log-in-modal__form-content .form-input input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  color: rgba(109, 108, 108, 0.5);
}
.log-in-modal__form-content .form-input .bDate input:focus, .log-in-modal__form-content .form-input .bDate input:focus-visible,
.log-in-modal__form-content .form-input input:focus,
.log-in-modal__form-content .form-input input:focus-visible {
  outline: none;
}
.log-in-modal__form-content .form-input i {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
}
.log-in-modal__form-content .form-input .top-input-text {
  display: none;
}
.log-in-modal__form-content .form-input .top-input-text.active {
  display: block;
  background-color: white;
  color: #5a6bb6;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2rem;
  letter-spacing: 0em;
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 10px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.log-in-modal__form-cta .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.log-in-modal__form-cta .cta a,
.log-in-modal__form-cta .cta span {
  color: #6d6c6c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-decoration: none;
}
.log-in-modal__form-cta .cta a:last-child,
.log-in-modal__form-cta .cta span:last-child {
  color: #5a6bb6;
}
.log-in-modal__form-cta .cta a:last-child:hover,
.log-in-modal__form-cta .cta span:last-child:hover {
  text-decoration: underline;
}
.log-in-modal__form-loginBtn button {
  background-color: #ffd400;
  color: white;
  width: 100%;
  margin: 40px 0 20px;
  border: unset;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: -0.02em;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.log-in-modal__form-loginBtn button:hover {
  background-color: #5a6bb6;
}

@media screen and (max-width: 768px) {
  .main {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .main .container {
    background-image: url("/images/main-default-bg.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
  }
}
.main h2 {
  font-family: "Open Sans";
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b60062;
}
@media screen and (min-width: 768px) {
  .main h2 {
    font-size: 3.4rem;
    font-style: normal;
    line-height: 4.6rem;
  }
}
.main .subHeader button {
  background-color: #ffd400;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  color: #000;
  font-size: 2.4rem;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 8px;
  border: none;
  width: 95%;
  margin-top: 25px;
}
.main .subHeader button span {
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: 0em;
}
.main .subHeader__final-claim {
  display: block;
  margin-top: 10px;
  color: #6d6c6c;
  font-family: Open Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0em;
}
.main-picture {
  margin-top: 16px;
  display: block;
}
.main-picture img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .main-picture img {
    display: none;
  }
}
.main-picture img.big {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-picture img.big {
    display: block;
  }
}
.main-description {
  font-size: 1.8rem;
  color: #6d6c6c;
  padding: 34px 0;
}
.main-video__btn {
  color: #000;
  padding-bottom: 34px;
}
.main-video__btn i {
  font-size: 2.4rem;
}
.main-video__btn a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
}
.main .responsive-cta {
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top: solid 1px #000;
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main .responsive-cta__box {
  width: 100%;
  text-align: center;
  position: relative;
}
.main .responsive-cta__box a {
  text-decoration: none;
  color: inherit;
}
.main .responsive-cta__box .cta-btn {
  width: 52px;
  height: 52px;
  font-size: 3.2rem;
  color: #000;
  background-color: #ffd400;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .responsive-cta__box .cta-btn i {
  font-size: 3.6rem;
}
.main .responsive-cta__box p {
  font-size: 1.8rem;
  color: #000;
  font-weight: 700;
  padding-top: 35px;
}
@media screen and (min-width: 768px) {
  .main .responsive-cta {
    display: none;
  }
}

.stats-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  padding: 38px 0;
}
@media screen and (min-width: 768px) {
  .stats-item {
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: unset;
    height: unset;
    padding: unset;
    border-radius: unset;
  }
}
.stats-item__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.stats-item__data i {
  font-size: 3.2rem;
  color: #5a6bb6;
}
@media screen and (min-width: 768px) {
  .stats-item__data i {
    display: none;
  }
}
.stats-item__data p {
  font-size: 3.4rem;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 0;
}
.stats-item__desc {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.stats .latest-proposal h3 {
  color: #6d6c6c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.9rem;
  letter-spacing: 0em;
  margin-bottom: 0;
  border-top: solid 2px #b60062;
  padding-top: 4px;
  padding-right: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.stats .latest-proposal__content .item__text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0em;
  margin: 4px 0;
  display: block;
}
.stats .latest-proposal__content .item__axis {
  color: #b60062;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
}
.stats .user-list-slider__number, .stats .user-list-slider__box-title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0em;
}
.stats .user-list-slider__number {
  font-size: 2.4rem;
  line-height: 3.3rem;
  letter-spacing: 0em;
  margin-left: 8px;
}
.stats .user-list-slider__2nd-row {
  color: #b60062;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.stats .user-list-slider__2nd-row .nd2-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 0em;
  text-align: left;
}
.stats .user-list-slider__2nd-row i {
  color: #6d6c6c;
}
.stats .user-list-slider .sidebar {
  border-right: solid 1px #6d6c6c;
}
.stats .user-list-slider .user-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  overflow-x: scroll;
  padding: 10px 0 10px 10px;
}
.stats .user-list-slider .user-list__content::-webkit-scrollbar {
  display: none;
}
.stats .user-list-slider .user-list__content .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.stats .user-list-slider .user-list__content .item__title {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.stats .user-list-slider .user-list__content .item__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.stats .user-list-slider .user-list__content .item__address i {
  font-size: 1.3rem;
}
.stats .user-list-slider .user-list__content .item__address .desc {
  width: 100px;
  color: #6d6c6c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
}

.howToPart {
  margin: 30px 0 0;
}
.howToPart-question {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #6d6c6c;
}
@media screen and (min-width: 768px) {
  .howToPart-question {
    margin-top: 40px;
  }
}
.howToPart-cta {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #5a6bb6;
}
.howToPart-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  margin-bottom: 25px;
}
.howToPart-step:last-child {
  margin-bottom: unset;
}
.howToPart-step .step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.howToPart-step .step-number span {
  background-color: white;
  border: solid 1px #000;
  width: 70px;
  height: 70px;
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  vertical-align: middle;
  font-size: 3.4rem;
  color: #000;
  font-weight: 700;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.howToPart-step .step-number span p {
  margin-bottom: 0;
}
.howToPart-step .step-desc p {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.8rem;
  margin-bottom: 4px;
}
.howToPart-step .step-desc span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0rem;
  text-align: left;
  color: #6d6c6c;
}
.howToPart-step:nth-child(2) .step-number span {
  background-color: #ffd400;
  border: unset;
}
.howToPart-step:nth-child(3) .step-number span {
  background-color: #5a6bb6;
  border: unset;
  color: white;
}
.howToPart-video {
  border: solid 1px #000;
  border-radius: 10px;
  margin-top: 30px;
}
.howToPart-video img {
  width: 100%;
}

.second-cta {
  background-color: #ffd400;
  padding: 40px 10px;
}
.second-cta img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.second-cta__cta-btn h3 {
  color: transparent;
  -webkit-text-stroke: 3px white;
  font-family: "Open Sans", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.second-cta__cta-btn a {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.second-cta__cta-btn a span {
  font-family: "Open Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: 0em;
  text-align: left;
}
.second-cta__cta-btn a i {
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0em;
}

.sponsors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}
.sponsors-item img {
  height: 100%;
}