main.page.antecedentes {
  min-height: 50vh;

  .page-title {
    color: $color_black;
    text-align: left;
    margin: unset;
  }

  .subtitle__desc {
    font-family: $font1;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: $color_gray;
    text-align: center;
    display: block;

    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }

  .page-header {
    picture img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  article {
    box-sizing: border-box;
    background-color: white;
    @include dropshadow-box;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;

    a {
      color: inherit;
      text-decoration: none;
    }

    picture {
      width: 95%;
      height: 100%;
      margin: 0 auto;
      display: block;
      margin-top: 1rem;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    section.content {
      width: 95%;
      left: 2.5%;
      position: absolute;
      bottom: 0;
      background-color: white;
      padding: 10px 0;
      box-sizing: border-box;
      font-family: $font1;

      h2 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.6rem;
        letter-spacing: -0.02em;
        text-align: left;
        color: $color_black;
      }
      span {
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.4rem;
        letter-spacing: -0.02em;
        color: $color_gray;

        p {
          margin: 0;
        }
      }
    }
  }

  .modal-article-content {
    picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .modal-article {
      h3 {
        font-family: $font1;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.2rem;
        letter-spacing: -0.02em;
        text-align: left;
        color: $color_black;
      }

      &__desc {
        font-family: $font1;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.8rem;
        letter-spacing: -0.02em;
        text-align: justify;
        color: $color_gray;
      }

      &__button {
        a {
          display: flex;
          flex-direction: row;
          gap: 6px;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.5rem;
          letter-spacing: 0em;
          text-decoration: none;

          p {
            margin: 0;
            font-family: $font1;
          }
        }
      }
    }
  }
}
