//- <!-- Modal -->
include modals.pug            

header
    .superhead 
        .container 
            .row.justify-content-end.mt-2.mb-2.d-none.d-md-flex
                .col-6 
                    span.superhead__text Plataforma de participación ciudadana
    nav.agora-navbar
        .container
            .row.mt-3.mb-3.align-items-center
                .col-8.col-md-3
                    a(href="./index.html").navbar-brand 
                        img(src="./images/"+ site_logo[0], alt="" + site_logo[1])
                .col
                    #responsive-menu__btn.menu-mobile 
                        //-  <!-- Button trigger modal -->
                        button(type="button", data-bs-toggle="modal", data-bs-target="#responsiveModalMenu").btn.btn-primary
                            i.fa-solid.fa-bars
                    .default-navbar 
                        .default-navbar-menu__list
                            +mainNavList
                            button(type="button", data-bs-toggle="modal", data-bs-target="#log-in").btn.btn-primary.sign-in__btn
                                span.text Conectarse
                                i.fa-regular.fa-user
