header 
    nav.navbar.navbar-light.bg-light
        .container
            a(href="#").navbar-brand 
                img(src="./images/"+ site_logo[0], alt="" + site_logo[1])
            //- button(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
            //-     span.navbar-toggler-icon
            //- div#navbarNav.collapse.navbar-collapse
            //-     ul.navbar-nav
            //-         li.nav-item: a(href="#", aria-current="page").nav-link.active Inicio
            //-         li.nav-item: a(href="#").nav-link.active Estadísticas
            //-         li.nav-item: a(href="#").nav-link.active Antecedentes
            //-         li.nav-item: a(href="#").nav-link.active Cronograma y Ruta
            //-         li.nav-item: a(href="#").nav-link.active Contacto