//- <!-- Modal -->
include modals.pug            

header
    nav.agora-navbar
        .container
            .row.mt-3.mb-3.align-items-center
                .col-8
                    a(href="#").navbar-brand 
                        img(src="./images/"+ site_logo[0], alt="" + site_logo[1])
                .col
                    #responsive-menu__btn.menu-mobile 
                        //-  <!-- Button trigger modal -->
                        button(type="button", data-bs-toggle="modal", data-bs-target="#responsiveModalMenu").btn.btn-primary
                            i.fa-solid.fa-bars
