mixin socialNetworks(insta, facebook, twitter, youtube)
    .ssnn-list
        a(href=""+insta): i.fa-brands.fa-instagram
        a(href=""+facebook): i.fa-brands.fa-facebook-square
        a(href=""+twitter): i.fa-brands.fa-twitter-square
        a(href=""+youtube): i.fa-brands.fa-youtube-square