.modal.fade#responsiveModalMenu(tabindex="-1", aria-labelledby="modalMenu", aria-hidden="true")
    .modal-dialog.modal-fullscreen-md-down
        .modal-content.cs-modal-menu
            .container 
                .row.mt-3.align-items-center
                    .col-8 
                        h5.modal-title#modalMenuTitle Plataforma de participación ciudadana
                    .col-4
                        button(type="button",data-bs-dismiss="modal", aria-label="Close").btn.cs-modal-menu__close-btn 
                            span.close-btn__text Cerrar
                            i.fa-solid.fa-xmark   
                
                .row.cs-modal-menu-login-box
                    .col-12
                        a(href="#").cs-modal-menu-login-box__loginBtn
                            span.loginText Conectarse
                            i.fa-regular.fa-user
                    .col-12.noCredentials.mt-4
                        .noAccount ¿No tienes cuenta?
                        .register-here: a(href="./register.html") Registrate aquí
                
                .row.mt-2.mb-2 
                    .col-12.cs-modal-menu__list
                        +mainNavList
                
                .row.cs-modal-menu__ssnn 
                    .col-12 
                        span.text Síguenos en redes sociales 
                    .col-12 
                        +socialNetworks("#","#","#","#") 