-var site_logo = ["site-logo.svg", "Logo de Ágora Jóvenes, Plataforma de participación ciudadana"]
block page-vars 

//- Mixins
include mixin.pug

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ágora Jóvenes :: Plataforma de Participación Ciudadana
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;500;600;700&display=swap")
        link(rel="stylesheet" href="./assets/fontawesome/css/all.min.css")
        link(rel="stylesheet" href="./assets/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="./css/default.css?v=20220309")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js") 
        script(src="./assets/bootstrap/dist/js/bootstrap.bundle.min.js")
        script(src="./assets/js/scrollToTop.js")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css")
        script(src='https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js')
    body(class="page "+current_page) 
        include header.pug

        block contents

        include footer.pug
