extend components/template.pug
block contents
    .canvas.page.contact-us
        .canvas-container
            +breadcrumbs("Contáctenos")

            main.page.contact-us
                .container
                    .row.mb-5 
                        .col
                            h2.page-title Contáctenos
                            span.subtitle__desc Para preguntas o solicitud de información por favor dirigirse a:
                    .row.mt-5.mb-5.g-5
                        .col.col-md-6 
                            +contacus-card("fa-regular fa-handshake", "Pacto Bicentenario","Coordinadora del proceso de Construcción del Pacto Bicentenario: Cerrando Brechas: ","pacto@agora.gob.pa")
                        .col.col-md-6 
                            +contacus-card("fa-solid fa-play", "Medios","Información de interés para medios de comunicación sobre Ágora, Plataforma de Participación Ciudadana: ","prensa@agora.gob.pa")
                        .col.col-md-6 
                            +contacus-card("fa-solid fa-users", "Plataforma Ágora","Coordinación del proceso de participación ciudadana a través de Ágora: ","plataforma@agora.gob.pa")
                        .col.col-md-6 
                            +contacus-card("fa-solid fa-gears", "Desarrollo","Diseño e implementación del desarrollo tecnológico de la plataforma: ","desarrollo@agora.gob.pa")
            +subnav('Inicio',"#")