extend components/template.pug
block page-vars 
    -var current_page = 'route';
block contents
    script(src="./assets/js/route.js?v=20220309") 
    .canvas
        .canvas-container
            +breadcrumbs("Cronograma y Ruta")

            main.main.mt-md-4
                .container 
                    .row
                        .col-12 
                            h2.page-title Ruta de la consulta pública sobre la Política <br> de la Juventud 2022-2027
                        .col-12 
                            picture(data-stage="1")#route-infographic 
                                img(src="./images/ruta-consulta__stage-1.svg", alt="Etapa 1 del Cronograma de Ágora Jóvenes")
                    .row 
                        .col-12 
                            h2.page-title Cronología del proceso de elaboración de la<br>Política Pública de la Juventud
                        .col-12 
                            picture(data-stage="1")#crono-infographic
                                img(src="./images/cronologia__stage-1.svg", alt="Etapa 1 del proceso de elaboración de la Política Pública de la Juventud") 
            +subnav('Inicio',"#") 