extend components/template.pug
block page-vars 
    -var current_page = 'estadisticas';
block contents
    .canvas.page.estadisticas
        .canvas-container
            +breadcrumbs("Estadísticas")

            main.page.estadisticas 
                .container
                    .row.page-header.mt-3.mb-5.justify-content-center
                        .col-12.col-md-8
                            h2.page-title En esta sección te presentamos información estadística sobre participación por edad, sexo, regiones, etc.
                .container.statistics-canvas
                    .row 
                        .col 
                            h3.section-title Nacional
                        .col-12.mb-4
                            h3.section-subtitle Registrados
                    .row.g-5 
                        .col-12.col-md-5
                            .statistic
                                .statistic__header: h3.mt-3.mb-5 Gráfica por edad
                                .statistic__content.mt-3
                                    picture.main-graph: img(src="./images/statistics/graph_1.svg", alt="")
                                    picture.detail-graph: img(src="./images/statistics/graph_1_desc.svg", alt="")
                        .col-12.col-md-7
                            .statistic.double
                                .statistic__header: h3.mt-3.mb-5 Gráfica por sexo
                                .statistic__content.mt-3
                                    picture.main-graph: img(src="./images/statistics/graph_2.svg", alt="")
                                    picture.main-graph: img(src="./images/statistics/graph_3.svg", alt="")
                        .col-12 
                            .statistic
                                .statistic__header.mb-5
                                    .gender.mb-5.mb-md-2
                                        .gender-data__title
                                            i.fa-solid.fa-venus-mars
                                            p 740
                                        .gender-data__desc 
                                            span Total de registrados
                                    .graph-desc
                                        picture.detail-graph 
                                            img(src="./images/statistics/graph_4_keys.svg", alt="") 
                                        
                                .statistic__content.mt-3
                                    picture.main-graph
                                        source(media="(min-width: 768px)", srcset="./images/statistics/graph_4.svg")
                                        img(src="./images/statistics/graph_4_mobile.svg", alt="")
                .container.statistics-canvas
                    .row.mt-5
                        .col.mt-5
                            h3.section-subtitle Opiniones y nuevas lineas
                    .row.g-5.mt-2
                        .col-12.col-md-5
                            .statistic
                                .statistic__header: h3.mt-3.mb-5 Gráfica por edad
                                .statistic__content.mt-3
                                    picture.main-graph: img(src="./images/statistics/graph_1.svg", alt="")
                                    picture.detail-graph: img(src="./images/statistics/graph_1_desc.svg", alt="")
                        .col-12.col-md-7
                            .statistic.double
                                .statistic__header: h3.mt-3.mb-5 Gráfica por sexo
                                .statistic__content.mt-3
                                    picture.main-graph: img(src="./images/statistics/graph_2.svg", alt="")
                                    picture.main-graph: img(src="./images/statistics/graph_3.svg", alt="")
                    .row.mt-5.mb-5.justify-content-center
                        .col-12.mt-5.col-md-6.d-grid
                            a(href="#",role="button").btn.btn-warning.checkStatistics Ver estadisticas por provincia 
            +subnav('Inicio',"#")