extend components/template.pug
block contents
    .canvas
        main.main.mt-md-4
            .container 
                .row.g-0.align-items-center.pt-3
                    .col-7.col-md-6
                        h2 ¿Quieres contribuir a garantizar los derechos de los jóvenes en Panamá?
                        
                        .subHeader.d-none.d-md-block
                            button(type="button").btn.btn-primary
                                i.fa-solid.fa-circle-plus
                                span Aporta tus ideas y opiniones
                            span.subHeader__final-claim y mejora la política de juventud 2022-2027
                    .col-5.col-md-6
                        picture.main-picture
                            img(src="./images/mainGraphic-mobile.svg", alt="Imagen de grupo de jóvenes multi étnicos compartiendo sus ideas").default
                            img(src="./images/main-illustration.svg", alt="Imagen de grupo de jóvenes multi étnicos compartiendo sus ideas").big
                        
                    .col-9.d-md-none
                        p.main-description Aporta tus ideas y mejora la política de juventud 2022-2027
                    .col-12.main-video__btn
                        a(href="#") 
                            i.fa-regular.fa-circle-play
                            span Mira el video
            .responsive-cta 
                .responsive-cta__box
                    a(href="#") 
                        span.cta-btn
                            i.fa-solid.fa-plus
                    a(href="#"): p Aporta tus ideas y opiniones
        section.stats 
            .container 
                .row.mt-md-5.mb-md-5
                    .col-6.mb-4.mb-md-0.col-md
                        .stats-item
                            .stats-item__data
                                i.fa-solid.fa-users
                                p 140
                            p.stats-item__desc Visitantes
                    .col-6.mb-4.mb-md-0.col-md
                        .stats-item
                            .stats-item__data
                                i.fa-solid.fa-comments
                                p 80
                            p.stats-item__desc Opiniones
                    .col-6.mb-4.mb-md-0.col-md
                        .stats-item
                            .stats-item__data
                                i.fa-solid.fa-file-lines
                                p 40
                            p.stats-item__desc Nuevas propuestas
                    .col-6.mb-4.mb-md-0.d-block.d-md-none
                        .stats-item
                            .stats-item__data
                                i.fa-solid.fa-user-check
                                p +120
                            p.stats-item__desc Proponentes registrados
                    .col-6.d-none.d-md-block
                        .latest-proposal
                            h3 Propuesta reciente
                            .latest-proposal__content
                                span.item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est quis amet pellentesque justo malesuada gravida. Diam massa laoreet arcu augue. In eleifend urna, lectus gravida. Viverra eros.
                                p.item__axis Seguridad e inclusión
                .row.d-none.d-md-flex.user-list-slider
                    .col-3.sidebar
                        span.user-list-slider__box-title Únete a los
                            span.user-list-slider__number 120+
                        .user-list-slider__2nd-row 
                            span.nd2-text proponentes registrados
                            i.fa-solid.fa-chevron-right
                    .col-9.user-list__content
                        each user in ['Mirandha','Emilio','Juan José', 'Raúl', 'Tilcia', 'Alejandro', 'Enrique', 'Mario', 'Alexander','Juan','Laury','Laila','Cooper','Charlie','María','Asusena','Luna','Marie','Uxtupu','Duiren','Pedro']
                            +userlist(user)
                                
        section.howToPart 
            .container 
                .row.mb-5
                    .col-12 
                        h4.howToPart-question ¿Cómo puedes opinar y proponer?
                        h3.howToPart-cta Envía tu propuesta y/o opinión en 3 pasos
                .row.justify-content-between
                    .col-12.col-md-5
                        .howToPart-steps
                            .howToPart-step
                                .step-number
                                    span 
                                        p 1
                                .step-desc 
                                    p Registrate
                                    span Es importante tomar tus datos para poder contactarte y conocer a detalle tu gran propuesta o invitarte a participar en las comisiones de concenso.
                            .howToPart-step
                                .step-number
                                    span
                                        p 2
                                .step-desc 
                                    p A que tema te gustaría aportar
                                    span Tu propuesta puede estar relacionada a distintos temas (educación, salud, etc). Elijé el que mejor se integre con tu propuesta.
                            .howToPart-step
                                .step-number
                                    span
                                        p 3
                                .step-desc 
                                    p Opina y propón
                                    span Tu propuesta es importante por lo que debes detallarla en el campo y escojer una o las lineas de acción.
                    .col-12.col-md-6
                        .howToPart-video 
                            img(src="./images/video-frame.png", alt="Video explicativo de ¿Cómo participar en Ágora Jóvenes?")
        section.second-cta.d-none.d-md-block 
            .container 
                .row.justify-content-center
                    .col-4.col-lg-4
                        picture
                            img(src="./images/second-cta-illustration.svg", alt="Niño en silla de ruedas conversando sus ideas con mujer afro desendiente")
                    .col-8.col-lg-6.second-cta__cta-btn
                        h3 Tu <br> opinión es importante
                        a(href="#") 
                            i.fa-solid.fa-circle-plus
                            span Envía tu opinión
        section.sponsors 
            .container 
                .row 
                    .col-12
                        .sponsors-list 
                            .sponsors-item 
                                img(src="./images/PNUD-Logo-Blue-1.svg", alt="Logo del Programa de las Naciones Unidas para el Desarrollo")
                            .sponsors-item 
                                img(src="./images/LogoMIDES-1.svg", alt="Logo del Ministerio de Desarrollo Social")