$color_primario: #5a6bb6;
$color_secundario: #b60062;
$color_tercer: #ffd400;
$color_cuarto: #65adc7;
$color_black: #000;
$color_warmBlack: #404040;
$color_gray: #6d6c6c;
$color_stats-text-1: #adadad;
$color_mid-gray: #ededed;
$color_light-gray: #f4f4f4;

$facebook-color: #3b5998;
$instagram-color: #8a3ab9;
$twitter-color: #00acee;
$youtube-color: #c4302b;

// Font related
$h2: 3rem;
$font1: "Open Sans", sans-serif;
$font2: "Bebas Neue", cursive;

//Mixins
@mixin box-inner-shadow {
  box-shadow: inset 0px 0px 15px 0px get-opacity($color_black, 0.15);
}

@mixin input-active-glow {
  box-shadow: 0px 0px 8px 0px get-opacity($color_primario, 0.3);
}

@mixin dropshadow-box {
  box-shadow: 0px 0px 8px 0px get-opacity($color_black, 0.1);
}

// Funciones
@function get-opacity($color, $amount) {
  @return rgba($color, $amount);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: $font1;
  font-size: 1.6rem;
}

i[class*="twitter"] {
  color: $twitter-color;
}
i[class*="facebook"] {
  color: $facebook-color;
}
i[class*="youtube"] {
  color: $youtube-color;
}
i[class*="instagram"] {
  color: $instagram-color;
}

h2 {
  font-size: $h2;
}
