@media screen and (min-width: 1140px) {
  .canvas {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.main {
  @media screen and (max-width: 768px) {
    float: left;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    .container {
      background-image: url("/images/main-default-bg.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      align-items: center;
      height: 75vh;
    }
  }

  @media screen and (min-width: 992px) {
    .container {
      background-position: top center;
      height: 80vh;
    }
  }

  @media screen and (min-width: 1100px) {
    .container {
      height: unset;
    }
  }

  h2 {
    font-family: "Open Sans";
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: $color_secundario;

    @media screen and (min-width: 992px) {
      font-size: 3.4rem;
      font-style: normal;
      line-height: 4.6rem;
    }
  }

  .subHeader {
    button {
      background-color: $color_tercer;
      @include box-inner-shadow;
      color: $color_black;
      font-size: 1.8rem;
      border-radius: 8px;
      border: none;
      width: 95%;
      margin-top: 15px;
      padding: 6px 8px;

      @media screen and (min-width: 992px) {
        margin-top: 25px;
        padding: 10px 12px;
        font-size: 2.4rem;
      }

      span {
        margin-left: 5px;
        font-family: $font1;
        font-style: normal;
        font-weight: 700;
        line-height: 3.3rem;
        letter-spacing: 0em;
      }
    }

    &__final-claim {
      display: block;
      margin-top: 10px;
      color: $color_gray;
      font-family: Open Sans;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem;
      letter-spacing: 0em;
    }
  }

  &-picture {
    margin-top: 16px;
    display: block;

    img {
      width: 100%;
      object-fit: contain;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    img.big {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }

  &-description {
    font-size: 1.8rem;
    color: $color_gray;
    padding: 34px 0;
  }

  &-video__btn {
    color: $color_black;
    padding-bottom: 34px;

    i {
      font-size: 2.4rem;
    }

    a {
      font-size: 1.6rem;
      font-weight: 500;
      text-decoration: none;
      color: inherit;
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 10px;
    }
  }

  .responsive-cta {
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: solid 1px $color_black;
    border-left: solid 1px $color_black;
    border-right: solid 1px $color_black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__box {
      width: 100%;
      text-align: center;
      position: relative;

      a {
        text-decoration: none;
        color: inherit;
      }

      .cta-btn {
        width: 52px;
        height: 52px;
        font-size: 3.2rem;
        color: $color_black;
        background-color: $color_tercer;
        @include box-inner-shadow;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 3.6rem;
        }
      }

      p {
        font-size: 1.8rem;
        color: $color_black;
        font-weight: 700;
        padding-top: 35px;
      }
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.stats {
  &-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
    @include dropshadow-box;
    padding: 38px 0;

    @media screen and (min-width: 768px) {
      background-color: unset;
      box-shadow: unset;
      width: unset;
      height: unset;
      padding: unset;
      border-radius: unset;
    }

    &__data {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      i {
        font-size: 3.2rem;
        color: $color_primario;

        @media screen and (min-width: 768px) {
          display: none;
        }
      }

      p {
        font-size: 3.4rem;
        font-family: $font2;
        margin-bottom: 0;

        @media screen and (min-width: 768px) {
          font-size: 2.8rem;
        }

        @media screen and (min-width: 992px) {
          font-size: 3.4rem;
        }
      }
    }

    &__desc {
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;

      @media screen and (min-width: 768px) {
        font-size: 1.6rem;
      }
      @media screen and (min-width: 992px) {
        font-size: 1.8rem;
      }
    }
  }

  .latest-proposal {
    h3 {
      color: $color_gray;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.9rem;
      letter-spacing: 0em;
      margin-bottom: 0;
      border-top: solid 2px #b60062;
      padding-top: 4px;
      padding-right: 30px;
      width: fit-content;
    }

    &__content {
      .item__text {
        color: $color_black;
        font-family: $font1;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6rem;
        letter-spacing: 0em;
        margin: 4px 0;
        display: block;
      }

      .item__axis {
        color: $color_secundario;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9rem;
        letter-spacing: 0em;
      }
    }
  }

  .user-list-slider {
    &__number,
    &__box-title {
      color: $color_black;
      font-family: $font1;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.5rem;
      letter-spacing: 0em;
    }
    &__number {
      font-size: 2.4rem;
      line-height: 3.3rem;
      letter-spacing: 0em;
      margin-left: 8px;
    }

    &__2nd-row {
      color: $color_secundario;
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      justify-content: start;

      .nd2-text {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.9rem;
        letter-spacing: 0em;
        text-align: left;
      }

      i {
        color: $color_gray;
      }
    }

    .sidebar {
      border-right: solid 1px $color_gray;
    }

    .user-list__content {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow-x: scroll;
      padding: 10px 0 10px 10px;

      &::-webkit-scrollbar {
        display: none;
      }

      .item {
        width: fit-content;

        &__title {
          color: $color_black;
          font-family: $font1;
          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
        }
        &__address {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 5px;

          i {
            font-size: 1.3rem;
          }

          .desc {
            width: 100px;
            color: $color_gray;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.8rem;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }
    }
  }
}

.howToPart {
  margin: 30px 0 0;

  &-question {
    font-family: $font1;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: $color_gray;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }
  }

  &-cta {
    font-family: $font1;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.02em;
    text-align: center;
    color: $color_primario;

    @media screen and (min-width: 992px) {
      font-size: 3.4rem;
      line-height: 4.6rem;
    }
  }

  &-step {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: unset;
    }

    .step-number {
      display: flex;
      justify-content: center;

      span {
        background-color: white;
        border: solid 1px $color_black;
        width: 70px;
        height: 70px;
        @include box-inner-shadow;
        text-align: center;
        vertical-align: middle;
        font-size: 3.4rem;
        color: $color_black;
        font-weight: 700;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          margin-bottom: 0;
        }
      }
    }

    .step-desc {
      p {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.8rem;
        margin-bottom: 4px;
      }
      span {
        font-family: $font1;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4rem;
        letter-spacing: 0rem;
        text-align: left;
        color: $color_gray;
      }
    }

    &:nth-child(2) {
      .step-number {
        span {
          background-color: $color_tercer;
          border: unset;
        }
      }
    }
    &:nth-child(3) {
      .step-number {
        span {
          background-color: $color_primario;
          border: unset;
          color: white;
        }
      }
    }
  }

  &-video {
    border: solid 1px $color_black;
    border-radius: 10px;
    margin-top: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media screen and (min-width: 768px) {
      margin-top: unset;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 30px 0 60px;
  }
}

.second-cta {
  background-color: $color_tercer;
  padding: 40px 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__cta-btn {
    h3 {
      color: transparent;
      -webkit-text-stroke: 3px white;
      font-family: $font1;
      font-size: 6.4rem;
      font-style: normal;
      font-weight: 700;
      line-height: 6.4rem;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }

    a {
      width: 80%;
      background-color: white;
      border-radius: 8px;
      color: $color_black;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      span {
        font-family: $font1;
        font-family: $font1;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.3rem;
        letter-spacing: 0em;
        text-align: left;
      }

      i {
        font-size: 2.4rem;
        line-height: 2.4rem;
        letter-spacing: 0em;
      }
    }
  }
}

.sponsors {
  &-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    @media screen and (min-width: 768px) {
      gap: 40px;
    }
  }

  &-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @media screen and (min-width: 768px) {
      height: 75px;
    }
  }
}
